@using mygallery.Models.ViewModels
@{
    var vm = ViewData["LayoutViewModel"] as LayoutViewModel??new LayoutViewModel();
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@vm.PageTitle - mygallery</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/color_skins.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="theme-red">
   <div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
            </div>

            <div class="navbar-brand">
                <a href="index.html"><img src="../images/logo.png" alt="Lucid Logo" class="img-responsive logo"></a>                
            </div>
            
            <div class="navbar-right">          
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">                        
                        <li><a href="app-inbox.html" class="icon-menu d-none d-sm-block"><i class="icon-envelope"></i></a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="icon-bell"></i>
                                <span class="notification"></span>
                            </a>
                        </li>
                        <li><a href="/cikis" class="icon-menu"><i class="icon-login"></i></a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="dropdown">
                    <span>Merhaba,</span>
                    <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>@vm.FirstName @vm.LastName</strong></a>                    
                    <ul class="dropdown-menu dropdown-menu-right account animated flipInY">
                        <li><a href="javascript:void(0)" id=cmdChangePassword><i class="fa-solid fa-key"></i></i>Şifre Değiştir</a></li>
                        <li class="divider"></li>
                        <li><a href="/cikis"><i class="icon-power"></i>Çık</a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs d-none">
                <li class="nav-item "><a class="nav-link active" data-toggle="tab" href="#hr_menu">HR</a></li>
            </ul>
                
            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane animated fadeIn active" id="hr_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <li><a href="/yonetim/anasayfa"><i class="icon-speedometer"></i><span>Anasayfa</span></a></li>
                            <li><a href="/yonetim/araclar"><i class="fa-solid fa-car-on"></i>Showroom</a></li>
                            <li><a href="/yonetim/tumaraclar"><i class="fa-solid fa-car"></i></i>Tüm Araçlar</a></li>
                            <li><a href="/yonetim/satinalma"><i class="fa-solid fa-file-signature"></i>Satın Alma Teklifleri</a></li>
                            <li><a href="/yonetim/tanimlar"><i class="fa-solid fa-gear"></i>Tanımlar</a></li>

                            @* <li>
                                <a href="#Employees" class="has-arrow"><i class="icon-users"></i><span>Employees</span></a>
                                <ul>
                                    <li><a href="emp-all.html">All Employees</a></li>
                                    <li><a href="emp-leave.html">Leave Requests</a></li>
                                    <li><a href="emp-attendance.html">Attendance</a></li>
                                    <li><a href="emp-departments.html">Departments</a></li>
                                </ul>
                            </li> *@
                            
                        </ul>
                    </nav>
                </div>          
            </div>          
        </div>
    </div>

    <div id="main-content">
          <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa-solid fa-bars"></i></a>@vm.PageTitle</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/yonetim/giris"><i class="icon-home"></i></a></li>   
                            @foreach(var breadcrumb in vm.Breadcrumbs){
                                <li class="breadcrumb-item"><a href="@breadcrumb.Link">@breadcrumb.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>
    
</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - mygallery - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/vendor/popperjs/popper.min.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/metisMenu/metisMenu.js"></script>
    <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/moment/moment.min.js"></script>
    <script src="~/vendor/mustache/mustache.min.js"></script>
    <script src="~/vendor/konsept/konseptgrid.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
