@{
    ViewData["Title"] = "Yönetim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestCounter=1;
}
@model mygallery.Models.ViewModels.AnasayfaViewModel
<div class="row ">
    <div class="col-sm-12 col-md-4">
        <div class="card text-center l-coral">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.WaitingRequestCount</h3>
                    <span>Bekleyen Teklif Sayısı</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-center l-blush">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.BuyRequestCount</h3>
                    <span>Bugünki Toplam Teklif</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card text-center l-amber">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.MyCarsCount</h3>
                    <span>Araç Sayım</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h5>Son 10 Teklif</h5>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Yıl</th>
                            <th>Vites tipi</th>
                            <th>Yakıt Tipi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model.Requests){
                            <tr>
                            <td>@requestCounter</td>
                            <td>@request.BrandName</td>
                            <td>@request.ModelName</td>
                            <td>@request.Year</td>
                            <td>@request.GearType</td>
                            <td>@request.FuelType</td>
                            <td><a href="/teklifler/@request.RequestId/detay">Görüntüle</a></td>
                        </tr>
                        requestCounter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>